# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.suo
*.ncb

/docs/html

/examples/tcharall/Debug
/examples/tcharall/tcharall_2005.vcproj.*.user

/examples/tcharall_gbk/Debug
/examples/tcharall_gbk/tcharall_gbk_2005.vcproj.*.user
